# Arquivos de Log e Dependências
node_modules/
npm-debug.log
yarn-error.log

# Arquivos de Ambiente (SENHAS!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Pasta de build do Back-end
server/dist
server/generated/
server/generated/prisma/

# Pasta de build do Front-end (Next.js)
client/.next/
client/out/

# Arquivos do S.O.
.DS_Store
Thumbs.db

# Windows reserved filename accidentally created
/NUL

# Evitar JS compilado acidentalmente no server/src
server/src/**/*.js
